* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(228, 217, 228);

}

.back-box {
    height: 385px;
    width: 701px;
    position: absolute;
    background-color: rgba(216, 205, 215, 0.392);
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 72px auto;   
    border-radius: 20px;
}

/* This container box sits on top of back-box by using z-index and position absolute */
.login-section {
    position: absolute;
    height: 550px;
    width: 430px;
    background-color: whitesmoke;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
}

.back-button {
    position: absolute;
    height: 95px;
    width: 97px;
    border-radius: 60px;
    top: 60px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: gray;
}

.face-button {
    position: absolute;
    background-color: red;
    height: 77px;
    width: 80px;
    border-radius: 70px;
    top: 69px;
    margin: 0 auto;
    left: 0;
    right: 0;
    /* background-image: url("https://www.shutterstock.com/image-photo/happy-beautiful-young-woman-showing-260nw-488813419.jpg"); */
}




